{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    // 2 - error, 1 - warn, 0 - off
    "no-console": 1,
    "prettier/prettier": 2
  }
}
